* {
  font-family: 'Courier New', Courier, monospace;
  color: white
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.freepnglogos.com/uploads/mars-png/mars-hameed-deviantart-5.png");
  background-size: cover;
  background-color: rgb(8, 8, 39);
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 5rem;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
}

a {
  text-decoration: none;
}

p {
  font-size: 12px;
  font-style: italic;
}

img {
  height: 5rem;
  width: 5rem;
  float: right;
  border-radius: 50%;
}

.rocket {
  height: 7rem;
  position: absolute;
  left: 10%;
  bottom: 10%;
  animation-name: rocket;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes rocket {
  0% {
    transform: translate(0px);
  }
  30% {
    transform: translateY(-50px);
  }
  50% {
    transform: rotate(50deg);
  }
  90% {
    transform: translateX(400px) translateY(-400px) rotate(50deg);
  }
  100% {
    transform: translateX(700px) translateY(-700px) rotate(50deg);
  }
}

button {
  background-color: black;
}

.app-name {
  text-align: center;
  font-weight: 600;
  font-size: 88px;
  margin-bottom: 5rem;
}

.intro {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.description {
  font-size: 14px;
  line-height: 1.10rem;
}